#music{
    height: 120px;
    width:100px;
    position:absolute;
    size: 500px;
    top: 85%;
    left: 20%;
}
/*<!-----------------------主界面------------------->*/
.mainPage{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    display: block;
}
.mainPage .btn button{
    width: 100mm;
    height: 25mm;
    position: absolute;
    left: 42%;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

    border-radius: 10mm;
    font-size: 50px;
    font-weight: bold;
    font-family: 楷体;
}
.mainPage p{
    position: absolute;
    top:10%;
    left: 25%;
    width: 1000mm;
    height: 25mm;
    color: #EE5757;
    border-radius: 10mm;
    font-size: 150px;
    font-weight: bold;
    font-family: 楷体;
}

#start{
    top: 50%;
}
#rule{
    top: 65%;
}
#present{
    top: 80%;
}

/*-------------------------规则界面-------------------------*/
.rulesPage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
#myRule{
    position: absolute;
    width: auto;
    left: 45%;

    top: 49%;
    transform: translate(-50%,-50%);
    display: block;
}
#ret{
    width: 60mm;
    height: 43mm;
    /*height="182" width="221"*/
    /*position: absolute;*/
    /*background-color: #a075dc;*/
    background-image:url('resources/返回.png');

    border-radius: 5mm;
    font-size: 50px;
    font-weight: bold;
    font-family: 楷体;
    position:absolute;
    top: 5%;
    left: 3.2%;
}
.rulesPage p{
    position: absolute;
    width: 70mm;
    height: 300mm;
    border-radius: 5mm;
    font-size:xxx-large;
    font-family:楷体;
    background-color: #a6d8f7;
    background-image: linear-gradient(270deg, #a6d8f7 0%, #ced0f5 50%, #f0ebf5 100%);
    left:75%;
    top:10%;
    writing-mode: vertical-lr;/*从左向右 */
    writing-mode: tb-rl;
}

/*-------------------------礼物设置界面-------------------------*/
.setPresentPage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
#presenttip{
    width: 150mm;
    height: 19mm;
    position: absolute;
    background-color: #bbddf2;
    background-image: linear-gradient(0deg, #bbddf2 0%, #ced0f5 50%, #ffffff 100%);

    border-radius: 5mm;
    font-size:xx-large;
    font-family: 楷体;
    font-weight: bold;
    text-align: center;
    left:35%;
    top:70%
}
#backToMain2{
    width: 60mm;
    height: 43mm;
    background-image:url('resources/返回.png');
    position: absolute;
    /*background-color: #a075dc;*/

    border-radius: 5mm;
    font-size: 50px;
    font-weight: bold;
    font-family: 楷体;
    top: 5%;
    left: 3.2%;
}
.awardName p{
    width: 70mm;
    height: 19mm;
    position: absolute;
    background-color: #d6e2b2;
    background-image: linear-gradient(225deg, #d6e2b2 0%, #91b4f2 35%, #a5d8f7 78%, #e7f0c4 96%);
    border-radius: 5mm;
    font-size:xxx-large;
    font-family: 楷体;
    font-weight: bold;
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    left:2%;

}
.award input{
    width: 100mm;
    height: 19mm;
    position: absolute;
    background-color: #e5d1f7;
    background-image: linear-gradient(225deg, #e5d1f7 0%, #f2f2bb 21%, #faffd9 79%, #e5d1fd 100%);


    border-radius: 5mm;
    font-size: xx-large;
    font-family: 楷体;
    font-weight: bold;
    text-align: center;
    left: 16%;
}
.presentnum input{
    width: 50mm;
    height: 19mm;
    position: absolute;
    background-color: #d6e2b2;
    background-image: linear-gradient(225deg, #d6e2b2 0%, #91b4f2 35%, #a5d8f7 78%, #e7f0c4 96%);


    border-radius: 5mm;
    font-size: xx-large;
    font-family: 楷体;
    font-weight: bold;
    text-align: center;
    left: 36%;
}
#present1{
    top: 22%;
}
#present2{
    top: 27%;
}
#present3{
    top: 32%;
}
#present4{
    top: 37%;
}
#present5{
    top: 42%;
}
#present6{
    top: 47%;
}
#present7{
    top: 22%;
    left: 47%;
}
#present8{
    top: 27%;
    left: 47%;
}
#present9{
    top: 32%;
    left: 47%;
}
#present10{
    top: 37%;
    left: 47%;
}
#present11{
    top: 42%;
    left: 47%;
}
#present12{
    top: 47%;
    left: 47%;

}
#a1{
    top: 25%;
}
#a2{
    top: 30%;
}
#a3{
    top: 35%;
}
#a4{
    top: 40%;
}
#a5{
    top: 45%;
}
#a6{
    top: 50%;
}
#a7{
    top: 25%;
    left: 61%;
}
#a8{
    top: 30%;
    left: 61%;
}
#a9{
    top: 35%;
    left: 61%;
}
#a10{
    top: 40%;
    left: 61%;
}
#a11{
    top: 45%;
    left: 61%;
}
#a12{
    top: 50%;
    left: 61%;
}

#n1{
    top: 25%;
}
#n2{
    top: 30%;
}
#n3{
    top: 35%;
}
#n4{
    top: 40%;
}
#n5{
    top: 45%;
}
#n6{
    top: 50%;
}
#n7{
    top: 25%;
    left: 81%;
}
#n8{
    top: 30%;
    left: 81%;
}
#n9{
    top: 35%;
    left: 81%;
}
#n10{
    top: 40%;
    left: 81%;
}
#n11{
    top: 45%;
    left: 81%;
}
#n12{
    top: 50%;
    left: 81%;
}

/*<!----------------------设置人数界面--------------------->*/
.setNumPage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
.setNumPage .elements button{
    width: 100mm;
    height: 25mm;
    left: 42%;
    position: absolute;
    background-color: rgba(137, 101, 222, 0.36);
    border-radius: 10mm;
    font-size: 50px;
    font-weight: bold;
    font-family: 楷体;
}
.setNumPage .elements input{
    width: 200mm;
    height: 25mm;
    position: absolute;
    top: 45%;
    left: 33%;
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);

    border-radius: 10mm;
    font-family: 楷体;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    border:7px solid rgba(69, 252, 179, 0.69);
}
#backToMain{
    width: 60mm;
    height: 43mm;
    /*height="182" width="221"*/
    /*position: absolute;*/
    /*background-color: #a075dc;*/
    background-image:url('resources/返回.png');
    /*position: absolute;*/
    /*background-color: #a075dc;*/

    border-radius: 5mm;
    font-size: 50px;
    font-weight: bold;
    font-family: 楷体;
    top: 5%;
    left: 3.2%;
}
#enter{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    top: 60%;
}
/*---------------------------游戏进行界面----------------------------*/
.playPage{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
/*#playBackground{            !*界面背景*!*/
/*    position: absolute;*/
/*    left: 50%;*/
/*    top: 50%;*/
/*    transform: translate(-50%,-50%);*/
/*}*/
#playerBG{                  /*玩家列表底色*/
    position: absolute;
    left: 1%;
    top: 17%;
}
#backToSet{                  /*返回*/
    position: absolute;
    left: 5%;
    top: 6%;
    width: 60mm;
    height: 43mm;
    background-image:url('resources/返回.png');
}
#sheep{                       /*羊*/
    position: absolute;
    left: 75%;

    top: 32%;
}
.playerInRoom p{
    width: 130mm;
    height: 14mm;
    background-color: rgba(185, 190, 238, 0.45);
    /*border-adius: 5mm;*/

    font-size: 40px;
    font-weight: bold;
    font-family: 楷体;
    position: absolute;
    left: 15%;
    text-align: center;
}
#member{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    font-family: 楷体;
    left: 21%;

    top: 23%;
}
#player1{
    top: 30%;
}
#player2{
    top: 34%;
}
#player3{
    top: 38%;
}
#player4{
    top: 42%;
}
#player5{
    top: 46%;
}
#player6{
    top: 50%;
}
#player7{
    top: 54%;
}
#player8{
    top: 58%;
}
#player9{
    top: 62%;
}
#player10{
    top: 66%;
}
#player11{
    top: 70%;
}
#player12{
    top: 74%;
}
.playPage .waiting{                         /*等待时组件*/
    display: block;
}
#bowlF{                        /*碗*/
    position: absolute;
    left: 52%;
    top: 42%;
}
.dices{              /*骰子*/
    position: absolute;
    left: 50%;
    top: 65%;
}
#goToPlay{
    width: 60mm;
    height: 43mm;
    background-image:url('resources/开始.png');
    position: absolute;
    left: 80%;
    top: 6%;
}

.playPage .playing{                         /*进行时组件*/
    display: none;
}
#state{
    width: 60mm;
    height: 12mm;
    position: absolute;
    top: 10%;
    left: 80%;

    background-color: rgba(0, 72, 255, 0.36);
    border-radius: 2mm;
    font-family: 楷体;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
#who{
    width: 80mm;
    height: 15mm;
    position: absolute;
    top: 16%;
    left: 78%;

    background-color: rgba(0, 72, 255, 0.36);
    border-radius: 5mm;
    font-family: 楷体;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}
#clickToPlay{
    font-family: 楷体;
    font-weight: bold;
    font-size: 40px;
    color: #ffffff;
    position: absolute;
    background-color: rgb(232, 53, 29);
    border-radius: 5mm;
    top: 74%;
    left: 62%;
}

.afterRoll{               /*摇后*/
    display: none;
}
#bowlU{
    position: absolute;
    top: 25%;
    left: 45%;
}
#nextPlayer{
    width: 60mm;
    height: 43mm;
    background-image:url('resources/开始.png');
    position: absolute;
    left: 80%;
    top: 6%;

}
#showResult{
    position: absolute;
    top: 34%;
    left: 49%;
    width: 100mm;
    height: 15mm;
    background-color: rgba(243, 175, 123, 0.96);
    border-radius: 5mm;
    font-family: 楷体;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}
#d01{
    position: absolute;
    top: 45%;
    left: 60%;

}
#d02{
    position: absolute;
    top: 42%;
    left: 68%;
}
#d03{
    position: absolute;
    top: 47%;
    left: 74%;

}
#d04{
    position: absolute;
    top: 55%;
    left: 70%;

}
#d05{
    position: absolute;
    top: 58%;
    left: 60%;
}
#d06{
    position: absolute;
    top: 56%;
    left: 64%;
}

/*-----------------------------结算界面-----------------------------*/
.resultPage {
    position: fixed;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
    display: none;
}
#background{
    width: 360mm;
    height: 260mm;
    margin: 15mm;
    position: absolute;
    top: 7%;
    left: 13%;

    background-color: rgba(0, 255, 144, 0.36);
    border-radius: 10mm;
    font-size: xx-large;
}
#gameover{
    position: absolute;
    top: 11%;
    left: 45%;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
}
.resultPage .btn button{
    width: 50mm;
    height: 20mm;
    position: absolute;
    background-color: #0370f6;
    border-radius: 5mm;
    font-size: 35px;
    font-family: 楷体;
    color: azure;
    font-weight: bold;
}
#again{
    top: 73%;
    left: 46%;
}
#back{
    top: 73%;
    left: 59%;
}
#showAward{
    top: 73%;

    left: 33%;
}
.player p{
    width: 302mm;
    height: 15mm;
    position: absolute;
    background-color: rgba(206, 238, 223, 0.73);
    border-radius: 5mm;
    font-size: 35px;
    font-family: 楷体;
    font-weight: bold;
    text-align: center;
    left: 22%;

}
#p1{
    top: 18%;
}
#p2{
    top: 22%;
}
#p3{
    top: 26%;
}
#p4{
    top: 30%;
}
#p5{
    top: 34%;
}
#p6{
    top: 38%;
}
#p7{
    top: 42%;
}
#p8{
    top: 46%;
}
#p9{
    top: 50%;
}
#p10{
    top: 54%;
}
#p11{
    top: 58%;
}
#p12{
    top: 62%;
}
/*  -----------------------------------------------兑奖界面------------------  */
.awardPage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
#backToResult{
    position: absolute;
    background-image:url('resources/返回.png');
    left: 5%;
    top: 6%;
    width: 60mm;
    height: 43mm;
}
#tip{
    width: 150mm;
    height: 19mm;
    position: absolute;
    background-color: #bbddf2;
    background-image: linear-gradient(0deg, #bbddf2 0%, #ced0f5 50%, #ffffff 100%);
    border-radius: 5mm;
    font-size:xx-large;
    font-family: 楷体;
    font-weight: bold;
    text-align: center;
    left:37%;
    top:18%

}
.awardName1 button{
    width: 50mm;
    height: 19mm;
    position: absolute;
    background-color: #f3dff7;
    background-image: linear-gradient(180deg, #f3dff7 0%, #91b4f2 29%, #80a7ec 73%, #eed3ec 100%);

    border-radius: 5mm;
    font-size: xx-large;
    font-family: 楷体;
    font-weight: bold;
    text-align: center;

    left: 25%;
}
.award2 p{
    width: 100mm;
    height: 19mm;
    position: absolute;
    background-color: #e5d1f7;
    background-image: linear-gradient(225deg, #e5d1f7 0%, #f2f2bb 21%, #faffd9 79%, #e5d1fd 100%);

    border-radius: 5mm;
    font-size: xx-large;
    font-family: 楷体;
    font-weight: bold;
    text-align: center;
    left: 35%;
}
.presentnum2 p{
    width: 20mm;
    height: 19mm;
    position: absolute;
    background-color: #d6e2b2;
    background-image: linear-gradient(225deg, #d6e2b2 0%, #91b4f2 35%, #a5d8f7 78%, #e7f0c4 96%);


    border-radius: 5mm;
    font-size: xx-large;
    font-family: 楷体;
    font-weight: bold;
    text-align: center;
    left: 54%;
}
/*奖品类型*/
#award1{
    top: 30%;
}
#award2{
    top: 35%;
}
#award3{
    top: 40%;
}
#award4{
    top: 45%;
}
#award5{
    top: 50%;
}
#award6{
    top: 55%;
}
#award7{
    top: 30%;
    left: 60%;
}
#award8{
    top: 35%;
    left: 60%;
}
#award9{
    top: 40%;
    left: 60%;
}
#award10{
    top: 45%;
    left: 60%;
}
#award11{
    top: 50%;
    left: 60%;
}
#award12{
    top: 55%;
    left: 60%;
}
/*奖品名称*/
#aw1{
    top: 28%;
}
#aw2{
    top: 33%;
}
#aw3{
    top: 38%;
}
#aw4{
    top: 43%;
}
#aw5{
    top: 48%;
}
#aw6{
    top: 53%;
}
#aw7{
    top: 28%;
    left: 70%;
}
#aw8{
    top: 33%;
    left: 70%;
}
#aw9{
    top: 38%;
    left: 70%;
}
#aw10{
    top: 43%;
    left: 70%;
}
#aw11{
    top: 48%;
    left: 70%;
}
#aw12{
    top: 53%;
    left: 70%;
}
/*奖品数量*/
#n21{
    top: 28%;
}
#n22{
    top: 33%;
}
#n23{
    top: 38%;
}
#n24{
    top: 43%;
}
#n25{
    top: 48%;
}
#n26{
    top: 53%;
}
#n27{
    top: 28%;
    left: 89%;
}
#n28{
    top: 33%;
    left: 89%;
}
#n29{
    top: 38%;
    left: 89%;
}
#n210{
    top: 43%;
    left: 89%;
}
#n211{
    top: 48%;
    left: 89%;
}
#n212{
    top: 53%;
    left: 89%;
}